<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Jackson Template</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="" />

  <!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="css/bootstrap.css">
	<!-- Flexslider  -->
	<link rel="stylesheet" href="css/flexslider.css">
	<!-- Flaticons  -->
	<link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
	<!-- Owl Carousel -->
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">
	<!-- Theme style  -->
	<link rel="stylesheet" href="css/style.css">

	<!-- Modernizr JS -->
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
	<div id="colorlib-page">
		<div class="container-wrap">
		<a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
		<aside id="colorlib-aside" role="complementary" class="border js-fullheight">
			<div class="text-center">
				<div class="author-img" style="background-image: url(images/about.jpg);"></div>
				<h1 id="colorlib-logo"><a href="index.html"></a></h1>
				<span class="position"><a href="#"></span>
			</div>
			<nav id="colorlib-main-menu" role="navigation" class="navbar">
				<div id="navbar" class="collapse">
					<ul>
						<li class="active"><a href="#" data-nav-section="home">Home</a></li>
						<li><a href="#" data-nav-section="juego">Juego</a></li>
						<li><a href="#" data-nav-section="skyward sword">Skyward Sword</a></li>
						<li><a href="#" data-nav-section="minish cap">Minish Cap</a></li>
						<li><a href="#" data-nav-section="four swords">Four Swords</a></li>
						<li><a href="#" data-nav-section="ocarina of time">Ocarina of Time</a></li>
						<li><a href="#" data-nav-section="Linea del heroe derrotado">Linea del heroe derrotado</a></li>
					</ul>
				</div>
			</nav>

			<div class="colorlib-footer">
				<p><small>&copy; <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
template by <a href="https://colorlib.com" target="_blank">Colorlib</a>
				<ul>
					<li><a href="#"><i class="icon-facebook2"></i></a></li>
					<li><a href="#"><i class="icon-twitter2"></i></a></li>
					<li><a href="#"><i class="icon-instagram"></i></a></li>
					<li><a href="#"><i class="icon-linkedin2"></i></a></li>
				</ul>
			</div>

		</aside>

		<div id="colorlib-main">
			<section id="colorlib-hero" class="js-fullheight" data-section="home">
				<div class="flexslider js-fullheight">
					<ul class="slides">
				   	<li style="background-image: url(images/img_bg_1.jpg);">
				   		<div class="overlay"></div>
				   		<div class="container-fluid">
				   			<div class="row">
					   			<div class="col-md-6 col-md-offset-3 col-md-pull-3 col-sm-12 col-xs-12 js-fullheight slider-text">
					   				<div class="slider-text-inner js-fullheight">
					   					<div class="desc">
						   					<h1>The Legend of Zelda</h1>
						   					<h2>La historia de The legend of Zelda</a></h2>
											</div>
					   				</div>
					   			</div>
					   		</div>
				   		</div>
				   	</li>
				   	<li style="background-image: url(images/img_bg_2.jpg);">
				   		<div class="overlay"></div>
				   		<div class="container-fluid">
				   			<div class="row">
					   			<div class="col-md-6 col-md-offset-3 col-md-pull-3 col-sm-12 col-xs-12 js-fullheight slider-text">
					   				<div class="slider-text-inner">
					   					<div class="desc">
						   					<h1>Cronologia <br>de Zelda</h1>
												<h2>Zelda a traves del tiempo</h2>
											</div>
					   				</div>
					   			</div>
					   		</div>
				   		</div>
				   	</li>
				  	</ul>
			  	</div>
			</section>

			<section class="colorlib-about" data-section="juego">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-12">
							<div class="row row-bottom-padded-sm animate-box" data-animate-effect="fadeInLeft">
								<div class="col-md-12">
									<div class="about-desc">
										<span class="heading-meta">Primer The Legend of Zelda</span>
										<h2 class="colorlib-heading">The legend of zelda</h2>
										<p><strong>The Legend of Zelda</strong>  es un videojuego japonés desarrollado y publicado por Nintendo en 1986, y diseñado por Shigeru Miyamoto y Takashi Tezuka para la consola Nintendo Entertainment System​ Situado en la tierra de fantasía de Hyrule, el argumento se centra en un joven llamado Link —el personaje jugador—, quien tiene por objetivo recolectar las ocho piezas de la Trifuerza de la Sabiduría para rescatar a la Princesa Zelda, quien está aprisionada en la Montaña de la Muerte en manos del malvado príncipe Ganon. En el transcurso del juego, el jugador puede controlar a Link desde una perspectiva aérea, y tiene que aventurarse a lo largo de un vasto territorio conocido como Hyrule, el cual posee a su vez diversos calabozos, dentro de los cuales debe derrotar a múltiples enemigos y resolver acertijos y así avanzar a lo largo del juego.</p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
									<div class="project" style="background-image: url(images/img-1.jpg);">
									</div>
								</div>
								<div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
									<div class="project" style="background-image: url(images/img-2.jpg);">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="colorlib-about" data-section="skyward sword">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-12">
							<div class="row row-bottom-padded-sm animate-box" data-animate-effect="fadeInLeft">
								<div class="col-md-12">
									<div class="about-desc">
										<span class="heading-meta">Cronología</span>
										<h2 class="colorlib-heading">Skyward Sword</h2>
										<p><strong>The Legend of Zelda</strong>  Skyward Sword es considerado el primero ya que sucede justo después del nacimiento del mundo en The Legend of Zelda. 
											En este juego, conoceremos cómo se crearon el Cielo, la Tierra y sus habitantes. Tras la Batalla Ancestral, la Diosa Hylia refugió a los pocos humanos supervivientes en el Cielo, lejos de todo peligro.
											Así es como surgió la leyenda de la Diosa Hylia y por eso es tan importante en tantos otros títulos de la franquicia de The Legend of Zelda. 
											En resumen, Skyward Sword se ubica justo antes de la creación del mundo que conocemos en la saga.</p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
									<div class="project" style="background-image: url(images/zeldasw3.jpg);">
									</div>
								</div>
								<div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
									<div class="project" style="background-image: url(images/zeldasw4.jpg);">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="colorlib-about" data-section="minish cap">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-12">
							<div class="row row-bottom-padded-sm animate-box" data-animate-effect="fadeInLeft">
								<div class="col-md-12">
									<div class="about-desc">
										<span class="heading-meta">Cronología</span>
										<h2 class="colorlib-heading">The Minish Cap</h2>
										<p><strong>The Legend of Zelda</strong>  Esta entrega lanzada en Game Boy Advance era lo más parecido a un origen del personaje de Link, antes del lanzamiento de Skyward Sword, ambientada en Hyrule. Cuenta como nuestro héroe une fuerzas con un habitante de Minish, un pequeño pueblo, llamado Ezlo. Al ser convertido en un gorro con forma de pájaro, este personaje acompañará a Link para combatir la amenaza de Vaati.</p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
									<div class="project" style="background-image: url(images/zeldamc.jpg);">
									</div>
								</div>
								<div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
									<div class="project" style="background-image: url(images/zeldamc2.jpeg);">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="colorlib-about" data-section="four swords">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-12">
							<div class="row row-bottom-padded-sm animate-box" data-animate-effect="fadeInLeft">
								<div class="col-md-12">
									<div class="about-desc">
										<span class="heading-meta">Cronología</span>
										<h2 class="colorlib-heading">Four Swords</h2>
										<p><strong>The Legend of Zelda</strong>  Siguiendo una línea temporal marcada por The Minish Cap, Zelda Four Swords no tiene un gran peso en la historia, y es recordado por ser el primer juego multijugador de la franquicia. Requiere de mínimo dos jugadores para disfrutarse plenamente, y posteriormente fue lanzado como juego gratuito para 3DS y DSi. </p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
									<div class="project" style="background-image: url(images/zeldafs.jpg);">
									</div>
								</div>
								<div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
									<div class="project" style="background-image: url(images/zeldafs2.jpg);">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="colorlib-about" data-section="ocarina of time">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-12">
							<div class="row row-bottom-padded-sm animate-box" data-animate-effect="fadeInLeft">
								<div class="col-md-12">
									<div class="about-desc">
										<span class="heading-meta">Cronología</span>
										<h2 class="colorlib-heading">Ocarina of Time</h2>
										<p><strong>The Legend of Zelda</strong>  Considerado por muchos como el mejor juego de la saga, Ocarina of Time fue lanzado en el año 1998 para Nintendo 64. Aquí os donde encontramos un peso narrativo mayor, con numerosas líneas temporales que pueden coexistir dentro de la cronología de la saga. Nuestro héroe, Link, debe enfrentarse antes de tiempo a Ganondorf, siendo derrotado y mostrando como la destrucción cae sobre Hyrule. </p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
									<div class="project" style="background-image: url(images/zeldaot.jpg);">
									</div>
								</div>
								<div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
									<div class="project" style="background-image: url(images/zeldaot2.jpg);">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			
			
			
			<section class="colorlib-about" data-section="Linea del heroe derrotado"></section>
			<div id="colorlib-counter" class="colorlib-counters" style="background-image: url(images/linktothepast.jpg);" data-stellar-background-ratio="0.5">
				<div class="overlay"></div>
				<div class="colorlib-narrow-content">
					<div class="row">
					</div>
					<div class="row">
						<div class="col-md-3 text-center animate-box">
							<span class="colorlib-counter">Linea del heroe derrotado</span>
						</div>
					</div>
				</div>
			</div>

			<section class="colorlib-about" data-section="a link to the past">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-12">
							<div class="row row-bottom-padded-sm animate-box" data-animate-effect="fadeInLeft">
								<div class="col-md-12">
									<div class="about-desc">
										<span class="heading-meta">Cronología</span>
										<h2 class="colorlib-heading">A link to the past</h2>
										<p>Este juego de Super Nintendo sigue una tercera ramificación temporal, que no se aclara en los propios juegos pero sí lo hace el libro Hyrule Historia. Según este documento, <strong>A Link To The Past</strong> se ambienta en una línea argumental donde Link no consigue derrotar a Ganondorf, y es encarcelado. Esto deriva en un nuevo conflicto, que va más allá de lo visto en Ocarina of Time, aunque se sentaron algunas bases.</p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
									<div class="project" style="background-image: url(images/alink1.jpg);">
									</div>
								</div>
								<div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
									<div class="project" style="background-image: url(images/alink2.jpg);">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="colorlib-about" data-section="links awakening">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-12">
							<div class="row row-bottom-padded-sm animate-box" data-animate-effect="fadeInLeft">
								<div class="col-md-12">
									<div class="about-desc">
										<span class="heading-meta">Cronología</span>
										<h2 class="colorlib-heading">Links awakening </h2>
										<p>El caso de Link's Awakening es bastante extraño dentro de la cronología, ya que, aunque es un remake en 3D del juego original, no guarda una especial relación con el resto de la saga. Se siente más como una secuela directa de esta entrega, que nos presenta a un triunfante Link que viaja en busca de nuevas aventuras, tras derrotar a Ganondorf y Agahnim, pero termina naufragando en la isla Koholint.</p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
									<div class="project" style="background-image: url(images/linksawakening1.avif);">
									</div>
								</div>
								<div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
									<div class="project" style="background-image: url(images/linksawakening2.webp);">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="colorlib-about" data-section="oracle of seasons ages">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-12">
							<div class="row row-bottom-padded-sm animate-box" data-animate-effect="fadeInLeft">
								<div class="col-md-12">
									<div class="about-desc">
										<span class="heading-meta">Cronología</span>
										<h2 class="colorlib-heading">Oracle of seasons / Oracle of ages</h2>
										<p>Lanzados al final del ciclo de vida de Game Boy Color, Oracle of Seasons y Oracle of Ages se diseñaron para jugarse de forma complementaria, algo así como vimos en Pokémon Rojo y Azul. Desarrollados por Capcom, las intenciones iniciales eran que estos dos títulos se ubicasen en una línea temporal entre A Link To The Past y Link's Awakening, finalmente se ubican después de los juegos ya mencionados. </p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
									<div class="project" style="background-image: url(images/oracleseasons.jpg);">
									</div>
								</div>
								<div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
									<div class="project" style="background-image: url(images/oracleages.jpg);">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="colorlib-about" data-section="a link between worlds">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-12">
							<div class="row row-bottom-padded-sm animate-box" data-animate-effect="fadeInLeft">
								<div class="col-md-12">
									<div class="about-desc">
										<span class="heading-meta">Cronología</span>
										<h2 class="colorlib-heading">A link between worlds</h2>
										<p>Esta entrega de Nintendo 3DS es una secuela espiritual de A Link To The Past, aunque rescata algunos elementos de Ocarina of Time. Dejamos atrás el Reino de Hyrule, para sumergirnos en la dimensión de Lorule, un mundo paralelo con su propia Trifuerza, en mitad de una épica batalla entre las fuerzas de la Luz y la Oscuridad. Nuestro principal enemigo será Yuga, un malvado mago que quiere hacerse con el control del Reino. </p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
									<div class="project" style="background-image: url(images/betweenworlds1.jpg);">
									</div>
								</div>
								<div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
									<div class="project" style="background-image: url(images/betweenworlds2.jpg);">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="colorlib-about" data-section="tri force heroes">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-12">
							<div class="row row-bottom-padded-sm animate-box" data-animate-effect="fadeInLeft">
								<div class="col-md-12">
									<div class="about-desc">
										<span class="heading-meta">Cronología</span>
										<h2 class="colorlib-heading">Tri force heroes</h2>
										<p>Lanzado en el año 2015 para Nintendo 3DS, Zelda Tri Force Heroes tiene lugar unos años después de los acontecimientos de A Link Between Worlds. Link continúa con su viaje y finalmente llega al Reino de Hytopia, donde una temible bruja llamada Lady Maud ha secuestrado a la Princesa Styla. Como podéis imaginar, nuestra misión será derrotar a la bruja y rescatar a la princesa, tanto en solitario como con otros jugadores. </p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
									<div class="project" style="background-image: url(images/triforce1.jpg);">
									</div>
								</div>
								<div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
									<div class="project" style="background-image: url(images/triforce2.jpeg);">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>


		</div><!-- end:colorlib-main -->
	</div><!-- end:container-wrap -->
	</div><!-- end:colorlib-page -->

	
	
	<!-- MAIN JS -->
	import mainjs from './js/main.js';

	

	</body>
</html>

